<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RemoveVirtualDirectory" stopProcessing="true">
          <match url="^meetingsai/(.*)" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <rule name="StaticRewrite" stopProcessing="true">
          <match url="^meetingsai/static/(.*)" />
          <action type="Rewrite" url="static/{R:1}" />
        </rule>
        <rule name="FlaskApp" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="flask_app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <handlers>
      <add name="FlaskHandler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\MeetingsAI\venv\Scripts\python.exe|C:\inetpub\wwwroot\MeetingsAI\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <fastCgi>
      <application fullPath="C:\inetpub\wwwroot\MeetingsAI\venv\Scripts\python.exe"
                   arguments="C:\inetpub\wwwroot\MeetingsAI\venv\Lib\site-packages\wfastcgi.py"
                   maxInstances="4"
                   requestTimeout="00:30:00"
                   activityTimeout="00:30:00"
                   instanceMaxRequests="1000">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="flask_app.app" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\MeetingsAI" />
        </environmentVariables>
      </application>
    </fastCgi>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="102400" executionTimeout="1800" />
  </system.web>

  <appSettings>
    <add key="WSGI_HANDLER" value="flask_app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\MeetingsAI" />
  </appSettings>
</configuration>
